@media(min-width: 468px) and (max-width: 768px){
	/*#bars{
		display: block;
		border: none;
		font-size: 180%;
		background-color: transparent;
		color: rgb(255,255,255);
		float: right;
		margin-right: 5px;
	}
	#close{
		display: block;
		float: right;
		background-color: transparent;
		color: rgb(255,255,255);
		font-size: 200%;
		margin-right: 2.7%;
		cursor: pointer;

	}
	.links{
		display: none;
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: rgb(255, 0, 102);
		overflow: hidden;
	}
	.links li{
		
		width: 100%;

		padding: 10px 5px;
	}
	.links li a{
		
		color: white;
		text-align: center;
		padding: 12px 12px 12px 12px;
		text-decoration: none;
		font-size: 110%;
		letter-spacing: 2px;
		font-family: sans-serif;
	}
	.links li:hover{
		background-color: rgba(255,255,255,0.5);
		text-decoration: none;
		color: rgb(255,255,255);
	}
	
	.ml10{
		margin-right: 10px;
	}
	.ml3{
		margin-right: 3px;
	}
	.fontawesome-size{
		font-size: 30px;
	}
	
	.topright {
		width: 100%;
	    position: absolute;
	    top: 1px;
	    right: 1px;
	    z-index: 1;
	    font-size: 18px;
	}
*/
	

}
@media(min-width: 568px) and (max-width: 991px){
	#bars{
		display: none;
	}
	#close{
		display: none;
	}
	.links{
		display: none;
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: rgb(255, 0, 102);
		overflow: hidden;
	}
	.links li{
		
		width: 100%;

		padding: 10px 5px;
	}
	.links li a{
		
		color: white;
		text-align: center;
		padding: 12px 12px 12px 12px;
		text-decoration: none;
		font-size: 110%;
		letter-spacing: 2px;
		font-family: sans-serif;
	}
	.links li:hover{
		background-color: rgba(255,255,255,0.5);
		text-decoration: none;
		color: rgb(255,255,255);
	}
	
	.topright {
		
	    position: absolute;
	    top: 8px;
	    right: 16px;
	    font-size: 18px;
	}

	.links{
		display: none;
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: rgb(255, 0, 102);
		overflow: hidden;
	}
	.links li{
		
		width: 100%;

		padding: 10px 5px;
	}
	.links li a{
		
		color: white;
		text-align: center;
		padding: 12px 12px 12px 12px;
		text-decoration: none;
		font-size: 110%;
		letter-spacing: 2px;
		font-family: sans-serif;
	}
	.links li:hover{
		background-color: rgba(255,255,255,0.5);
		text-decoration: none;
		color: rgb(255,255,255);
	}
	
	.ml10{
		margin-right: 10px;
	}
	.ml3{
		margin-right: 3px;
	}
	.fontawesome-size{
		font-size: 30px;
	}
	
	.topright {
		width: 100%;
	    position: absolute;
	    top: 1px;
	    right: 1px;
	    z-index: 1;
	    font-size: 18px;
	}
	#profile{
		/*margin-top: -90%*/
		margin-top: -100%;
		margin-right: 10%;
		margin-left: 10%;

	}
}	
@media(min-width: 992px) and (max-width: 1999px){
	#bars{
		display: none;
	}
	#close{
		display: none;
	}
	.links{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.links li{
		float: left;
	}
	.links li a{
		display: block;
		color: white;
		text-align: center;
		padding: 12px 12px;
		text-decoration: none;
		font-size: 110%;
		letter-spacing: 2px;
		font-family: sans-serif;
	}
	.links li a:hover{
		background-color: rgba(255,255,255,0.2);
		text-decoration: none;
		border-radius: 0.5rem;
		color: rgb(255,255,255);
	}

	
	.topright {
		
	    position: absolute;
	    top: 8px;
	    right: 16px;
	    font-size: 18px;
	}
	#projects, #skills{
		display: none;
	}
	#profile{
		margin-top: -400px;
		margin-right: 10%;
		margin-left: 10%;

	}
}
@media(min-width: 1200px){
	#bars{
		display: none;
	}
	#close{
		display: none;
	}
	.links{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.links li{
		float: left;
	}
	.links li a{
		display: block;
		color: white;
		text-align: center;
		padding: 12px 12px;
		text-decoration: none;
		font-size: 110%;
		letter-spacing: 2px;
		font-family: sans-serif;
	}
	.links li a:hover{
		background-color: rgba(255,255,255,0.2);
		text-decoration: none;
		border-radius: 0.5rem;
		color: rgb(255,255,255);
	}


	.topright {
		
	    position: absolute;
	    top: 8px;
	    right: 16px;
	    font-size: 18px;
	}
		#profile{
		margin-top: -500px;
		margin-right: 10%;
		margin-left: 10%;

	}
	/*#projects, #skills{
		display: none;
	}
*/
}

.bg-black{
	background-color: rgba(0,0,0,0.5);
	border-radius: 2rem;
	padding: 2%;
	font-weight: normal;

}

.show{
	 background-color: rgba(0,0,0,0.4);
	 width: 20%;
    border: none;
    color: white;
    font-weight: bold;
    position: absolute;
	top: 80%; 
	left: 40%;
}

.div-container {
    position: relative;

}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*font-size: 18px;*/

}
img { 
    width: 100%;
    height: 700px;
    
    
}

.skills{
	height: auto;
	right: 0;
	/*background-color: rgb(242, 242, 242);*/
	/*background-color: rgb(255, 0, 102);*/
	margin: 2% 0 0 0 ;
	padding: 0% 8% 5% 8%;
	/*background: linear-gradient(, #99ccff);*/

/*	#99ccff*/
}
.card:hover{
	border: 1px solid #669999;
	 transform: scale(1.2, 1.1);
	 opacity: 0.7;
	 transition: 2s;
}
.experience{
	
	font-size: 200%;
	font-family: sans-serif;
	/*background-color: rgb(92, 138, 138);*/
/*	color: rgb(255,255,255);*/
	/*width: 35%;*/
	color: rgba(0, 0, 0, 0.5);
	border-radius: 2rem;
	padding: 1% 0 1% 0;
/*	margin-left: 1%;*/
}
.bold{
	font-weight: bold;
}
.card-min-height{
	min-height: 320px;
}


.text-white{	
	color: rgb(255,255,255);
}

.me{
	margin-left: 30%;
	font-weight: bold;
}
.ml-10{
	margin-left: 8%;
}
.footer-links{
	list-style-type: none;
	margin-top: 5%;
}
.footer-links li{
	text-decoration: none;
	padding: 1%;
	margin-right: 7%;
	float: left;

}
.footer-links li a{
	color: rgb(255,255,255);
}
/*.footer-links li a:hover{
	text-decoration: none;
	margin-left: 2%;
	transition: 1s;
}*/
.footer-desc{
	margin-left: 8.2%;
	margin-top: 4%;
	color: rgb(255,255,255);
	font-size: 17px;
}


.max-height{
	max-height: 400px;
}
.controls{
	background-color:  rgba(0,0,0,0.4);
	padding: 1px 10px 2px 10px;
	border-radius: 1rem;
}
.functionalities, .technologies-used{
	font-weight: bold;
	margin-top: 10px;
}
.skills-cat{
	padding: 7px;
	font-size: 25px;
	/*margin-top: -15%;*/
	
}
.skill-cat-logo{
	height: 100px;
}

.skill-logo{
	height: 50px;
}
.main-ui{
	height: 100%;position: absolute;width: 100%;
}
body{
	background-color: rgb(242, 242, 242);
}

#profile img{
	display: block;
	margin-right: 10%;
	height: 350px;
	width: 80%;
	margin-bottom: 10%;
	margin-top: 10%;
	float: right;

}
.bg-white{
	background-color: rgb(255,255,255);
}
.name{
	font-size: 30px;margin-bottom: -0.7%;
	margin-top: 9%;
}
.my-skill{
	font-weight: bold;border-bottom: 1px solid black;padding-bottom: 1%
}
.slogan{
	background-color: rgb(255, 0, 102);
	padding: 1%;
	text-align: center;
	color: rgb(255,255,255);
	font-size: 30px;
}
.about{
	font-style: sans-serif;
	font-size: 18px;
}
.projects-portion{
	background-color: rgb(255,255,255);
	padding: 3% 0 0 0;
	margin: 0
}
.portfolio{
	border-top: 1px solid rgba(0,0,0,0.3);
	padding: 2%;
	/**/
}
.gif{
	height: 300px;width: 90%;display: block;margin:auto;
	margin-top: 3%;
	border: 2px solid rgb(224, 224, 209);
}
.portfolio-fs{
	font-size: 20px;
}
.view-code{
	border: none;
	margin-left: 5%;
	width: 70px;
	padding: 1.2%;
	color: rgb(255,255,255);
	font-size: 18px;
	border-radius: 0.5rem;
	margin-top: 1%;
	background-color: #1DA1F2
}
.visit-site{
	border: none;
	margin-left: 5%;
	width: 70px;
	padding: 1.2%;
	color: rgb(255,255,255);
	font-size: 18px;
	border-radius: 0.5rem;
	margin-top: 1%;
	background-color: rgb(255, 0, 102)
}