@media(min-width: 468px) and (max-width: 667px){
	#bars{
		display: block;
		border: none;
		font-size: 180%;
		background-color: transparent;
		color: rgb(255,255,255);
		float: right;
		margin-right: 5px;
	}
	#close{
		display: block;
		float: right;
		background-color: transparent;
		color: rgb(255,255,255);
		font-size: 200%;
		margin-right: 2.7%;
		cursor: pointer;

	}
	.links{
		display: none;
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #669999;
		overflow: hidden;
	}
	.links li{
		/*float: left;*/
		width: 100%;

		padding: 10px 5px;
	}
	.links li a{
		
		color: white;
		text-align: center;
		padding: 12px 12px 12px 12px;
		text-decoration: none;
		font-size: 110%;
		letter-spacing: 2px;
		font-family: sans-serif;
	}
	.links li:hover{
		background-color: rgba(255,255,255,0.2);
		text-decoration: none;
		color: rgb(255,255,255);
	}
	
	.ml10{
		margin-right: 10px;
	}
	.ml3{
		margin-right: 3px;
	}
	.fontawesome-size{
		font-size: 30px;
	}
	.slogan{
		color: rgb(255,255,255);
	    /*background-color: rgba(0,0,0,0.3);*/
	    width: auto;
	    font-size: 100%;
	    margin-top: 20%;
	    padding: 1%;
	    font-family: sans-serif;
	   
	}
	.topright {
		width: 100%;
	    position: absolute;
	    top: 1px;
	    right: 1px;
	    font-size: 18px;
	}
}
@media(min-width: 668px) and (max-width: 991px){
	#bars{
		display: none;
	}
	#close{
		display: none;
	}
	.links{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.links li{
		float: left;
	}
	.links li a{
		display: block;
		color: white;
		text-align: center;
		padding: 12px 12px;
		text-decoration: none;
		font-size: 110%;
		letter-spacing: 2px;
		font-family: sans-serif;
	}
	.links li a:hover{
		background-color: rgba(255,255,255,0.2);
		text-decoration: none;
		border-radius: 0.5rem;
		color: rgb(255,255,255);
	}

	.slogan{
		color: rgb(255,255,255);
	    /*background-color: rgba(0,0,0,0.3);*/
	    width: auto;
	    font-size: 200%;
	    margin-top: 20%;
	    padding: 1%;
	    font-family: sans-serif;
	   
	}
	.topright {
		
	    position: absolute;
	    top: 8px;
	    right: 16px;
	    font-size: 18px;
	}

}
@media(min-width: 992px) and (max-width: 1999px){
	#bars{
		display: none;
	}
	#close{
		display: none;
	}
	.links{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.links li{
		float: left;
	}
	.links li a{
		display: block;
		color: white;
		text-align: center;
		padding: 12px 12px;
		text-decoration: none;
		font-size: 110%;
		letter-spacing: 2px;
		font-family: sans-serif;
	}
	.links li a:hover{
		background-color: rgba(255,255,255,0.2);
		text-decoration: none;
		border-radius: 0.5rem;
		color: rgb(255,255,255);
	}

	.slogan{
		color: rgb(255,255,255);
	    /*background-color: rgba(0,0,0,0.3);*/
	    width: auto;
	    font-size: 200%;
	    margin-top: 20%;
	    padding: 1%;
	    font-family: sans-serif;
	   
	}
	.topright {
		
	    position: absolute;
	    top: 8px;
	    right: 16px;
	    font-size: 18px;
	}
	#projects, #skills{
		display: none;
	}
}
@media(min-width: 1200px){
	#bars{
		display: none;
	}
	#close{
		display: none;
	}
	.links{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.links li{
		float: left;
	}
	.links li a{
		display: block;
		color: white;
		text-align: center;
		padding: 12px 12px;
		text-decoration: none;
		font-size: 110%;
		letter-spacing: 2px;
		font-family: sans-serif;
	}
	.links li a:hover{
		background-color: rgba(255,255,255,0.2);
		text-decoration: none;
		border-radius: 0.5rem;
		color: rgb(255,255,255);
	}

	.slogan{
		color: rgb(255,255,255);
	    /*background-color: rgba(0,0,0,0.3);*/
	    width: auto;
	    font-size: 200%;
	    margin-top: 20%;
	    padding: 1%;
	    font-family: sans-serif;
	   
	}
	.topright {
		
	    position: absolute;
	    top: 8px;
	    right: 16px;
	    font-size: 18px;
	}
	/*#projects, #skills{
		display: none;
	}
*/
}
.MyModalLoaning, .MyModalChatApp{
	width: 80%;
	height: auto;
	max-height: 600px;
	overflow: auto;
	position: fixed;
	background-color: rgb(217, 217, 217);
	top: 5%;
	left: 12%;
	z-index: 1;
	border: 4px solid #669999;
	display: none;


}

.ModalHeader{
	height: 50px;
	z-index: 1;
	/*position: fixed;
	width: 79.5%;*/
	background-color:  #669999;
	
}
.more-on{
	float: left;
	font-size: 150%;
	color: rgb(255,255,255);
	margin-left: 2%;
	margin-top: 0.3%;
}
.my-carousel{
	position: relative;
	padding: 2%;
}
.bg-black{
	background-color: rgba(0,0,0,0.5);
	border-radius: 2rem;
	padding: 2%;
	font-weight: normal;

}
.next{
	position: absolute;
	top: 150px; 
    right: 3%;
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
}
.previous{
	background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-weight: bold;
    position: absolute;
	top: 150px; 
	left: 3%;
	border-radius: 0.5rem;

}
.previous:hover, .next:hover{
	background-color:  #669999;
	color: rgb(255,255,255);
	border-radius: 1rem;
	transition: 1s;
}
.show{
	 background-color: rgba(0,0,0,0.4);
	 width: 20%;
    border: none;
    color: white;
    font-weight: bold;
    position: absolute;
	top: 80%; 
	left: 40%;
}
.carousel-images .active{
	display: block;
}
.carousel-images div{
	display: none;
}
.carousel-images div img{
	height: 350px;
	width: 100%
}
.div-container {
    position: relative;

}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*font-size: 18px;*/

}
img { 
    width: 100%;
    height: 700px;
    
    
}

.skills-projects{
	height: auto;
	right: 0;
	margin: 0;
	padding: 0% 8% 5% 8%;
	background: linear-gradient(#0000, #99ccff);

/*	#99ccff*/
}
.card:hover{
	border: 1px solid #669999;
	 transform: scale(1.2, 1.1);
	 opacity: 0.7;
	 transition: 2s;
}
.experience{
	font-weight: bold;
	font-size: 200%;
	font-family: sans-serif;
	/*background-color: rgb(92, 138, 138);*/
/*	color: rgb(255,255,255);*/
	/*width: 35%;*/
	color: rgb(0, 128, 128);
	border-radius: 2rem;
	padding: 1% 0 1% 0;
/*	margin-left: 1%;*/
}
.bold{
	font-weight: bold;
}
.card-min-height{
	min-height: 260px;
}

.project-div{
	 position: relative;
}
.project-div img{
	width: 100%;
    min-height: 200px;
    max-height: 200px;
   
}
.project-div div{
	width: 100%;
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;

}
.view-code{
	padding: 1.5% 0% 1.5% 0%;
	border: none;
	background-color: rgb(0, 179, 134);
	color: rgb(255,255,255);
	margin-top: 5%;
	max-width: 150%;
	min-width: 150px;
	margin-left: 1%;
	border-radius: 0.5rem;
	display: none;
/*	max-width: 120%;*/
}
.text-white{	
	color: rgb(255,255,255);
}
.read-more{
	width: 100%;
	background-color: #669999;
	padding: 2%;
	border: none;
	color: rgb(255,255,255);
}
.footer-links{
	list-style-type: none;
}
.footer-links li{
	text-decoration: none;
	padding: 1%;

}
.footer-links li a{
	color: rgb(255,255,255);
}
.footer-links li a:hover{
	text-decoration: none;
	margin-left: 2%;
	transition: 1s;
}
.footer-desc{
	margin-left: 8.2%;
	margin-top: 4%;
	color: rgb(255,255,255);
}
#system-info{
	padding: 2% 1% 2% 1%;
	font-size: 120%;
	min-height: 200px;
	max-height: 300px;
	overflow: auto;
	background-color: rgb(230, 230, 230);
	border: 1px solid #669999;
	margin-top: 0.3%;

}
#system-info::-webkit-scrollbar{
	display: none;
}
.MyModalLoaning::-webkit-scrollbar, .MyModalChatApp::-webkit-scrollbar{
	display: none;
}