*{
	margin: 0;
	font-family: 'Arial Narrow Bold', sans-serif;
}
::-webkit-scrollbar{
	display: none;
}
.about-me{
	margin: 1em 2em 0 2em;
	/* background-color: rgb(255,255,255); */
}
.aboutme-dp img{
	height: 300px;
	width: 100%;
	box-shadow:  0 0 20px 1px grey;
	
}
.bio{
	background-color: rgb(255,255,255);
	margin: 1em auto 1em auto;
	border-radius: 0.2em;
	box-sizing: border-box;
}
.bio .aboutme-dp{
	width: 40%;
	padding: 2em 2em 2em 2em;
	

}

.bio .bios{
	width: 60%;
	padding: 2em 2em 2em 2em;

}
.bios .my-name{
	font-size: 1.6em;
	border-bottom: 2.8px solid rgb(255, 102, 0);
	font-weight: bold;
}

.bios ul{
	list-style-type: none;
	margin-top: 1em;
	margin-left: -2.5em;
}
.bios ul li{
	padding: 7px 0 5px 0;
	font-size: 1.1em;
	text-align: justify;
	opacity: 0.9;
}
.bios ul li span{
	width: 30px;
	color: rgb(255, 102, 0);
}
body{
	background-color: 	rgb(77, 77, 77);
}
.card{
	position: relative;
	box-shadow: 0 1px 3px rgb(255,255,255);
}
.card img{
	width: 100%;
	height: 350px;

}
.card .card-content{
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.9);
	height: auto;
	padding-bottom: 1em;
	width: 100%;
	color: rgb(255,255,255);

}
.card-content .app-name{
	margin-top: 0.5em;
	padding: 0.3em;
	letter-spacing: 0.4px;
	color: rgb(255, 102, 0);
	text-align: center;
	font-size: 1.5em;
}
.card-content .app-desc{
	margin: 0.5em 1em 1.3em 1em;
	letter-spacing: 0.5px;
	line-height: 1.3em;
	text-align: justify;

}
.category{
	/* width: 50%; */
	/* border: 1px solid red; */
	margin: 1em 2em 2em 2em;
}
.categories{
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 2.5px solid rgb(255, 102, 0);
	/* color: rgb(255,255,255); */
	/* width: 180px; */
	box-shadow:  0 0 3px 1px rgb(255,255,255);
	/* text-align: center; */
	/* margin: auto; */
	/* background-color: rgb(255, 102, 0); */
	text-transform: uppercase;

	padding: 0.2em 0 0.1em 0;

}
.dp{
	/* width: 120px;
	height: 120px; */
	margin: auto;
	display: block;
	border-radius: 50%;
	margin-top: 100%;
	box-shadow: 0 0 3px 3px rgb(255,255,255);
	animation-name: showprofile;
	animation-duration: 2s;
	animation-fill-mode: forwards;

}
.extra-info{
	font-size: 1.1em;
	margin-top: 0.5em;
	letter-spacing: 0.4px;
	text-align: justify;
	margin-bottom: -0.5em;
}

.expertise{
	text-align: center;
	color: rgb(255,255,255);
	letter-spacing: 0.6px;
	margin-top: 0.7em;
	font-size: 1.1em;
}
footer{
	background-color: rgb(255, 102, 0);
	padding: 1em;
	font-size: 1.2em;
	text-align: center;
	color: rgb(255,255,255);
	
	letter-spacing: 0.4px;
}
.hire-me{
	background-color: rgb(255, 102, 0);
	/* background-color: transparent; */
	box-shadow:  0 0 3px 1px rgb(255,255,255);
	color: rgb(255,255,255);
	width: 150px;
	font-size: 1.4em;
	border: none;
	padding: 0.4em;
	letter-spacing: 0.4px;
	border-radius: 2em;
	margin: 1em auto auto auto;
	display: block;

}
.languages{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.languages img{
	width: 100px;
	height: 80px;
	/* border: 1px solid red; */
	box-shadow:  0 0 3px 1px grey;
	margin-right: 1em;
	margin-top: 1em;
}
.languages img:hover{
	/* border: 2px solid rgb(255, 102, 0); */
	box-shadow:  0 0 8px 1px rgb(255, 102, 0);
	transform: scale(1.2,1.2);
	
}
.logo{
	float: left;
	color: rgb(255, 102, 0);

	margin-top: -0.4em;
}
.logo img{
	/* border: 1px solid red; */
	height: 80px;
	width: 80px;
	border-radius: 50%;
	/* box-shadow: 0 4px 2px white; */
}
.logo:hover img{
	transform: scale(1.4,1.4);
	margin-top: 0.5em;
}
.main-page{
	background-image: url('../images/it2.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/* height: 100vh; */
	position: relative;
	
} 
.main-page .content{
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
	position: absolute;
	/* box-shadow: inset 0 0 4px 5px grey; */
	
}
.ml-1{
	margin-left: 1em;
}
.mr-1{
	margin-right: 1em;
}
.ml-2{
	margin-left: 2em;
	
}
#moveToTop{
	border: none;
	background-color: rgb(255, 255, 255);
	padding: 0.5em 0.4em 0.5em 0.4em;
	font-size: 3em;
 	border: 5px solid  rgb(255, 102, 0);
	color: rgb(255, 102, 0);
	position: fixed;
	z-index: 20;
	bottom: 2em;
	display: none;
	right: 0.5em;
	border-radius: 2em;
}
.mr-2{
	margin-right: 2em;
}
.name{
	font-size: 2.5em;
	font-family:   'Helvetica Neue', sans-serif;
	/* font-weight: bold; */
	color: rgb(255,255,255);
	text-align: center;
	margin-top: 0.5em;
}
.name strong{
	color: rgb(255, 102, 0);
}
.portfolios > p, .skills > p, .about-me > p{
	text-align: center;
	color: rgb(255,255,255);
	padding: 0.4em 0.5em 0.3em 0.5em;
	border-radius: 2em;
	margin: 0.5em auto auto auto;
	display: block;
	background-color: rgb(255, 102, 0);
	width: 200px;
	font-size: 1.8em;
	letter-spacing: 0.5px;
	box-shadow:  0 0 3px 1px rgb(255,255,255);
	text-transform: uppercase;

}
.skills{
	margin: 0 2em 0 2em;
	
}
.skills-category{
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 1em;
	margin-top: 1.5em;
	background-color: rgb(255,255,255);
	border-radius: 0.2em;
	padding-bottom: 1em;
}

#nav{
	list-style-type: none;
	margin-right: 2em;
	opacity: 0;
	-webkit-animation-name: showNavs;
	animation-name: showNavs;
	animation-duration: 3s;
	animation-fill-mode: both;
	z-index: 10;
}
@keyframes showNavs {
	100%{
		opacity: 1;
	}
}
#nav li a{
	text-decoration: none;
	color: rgb(255,255,255);
	font-size: 1.2em;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	padding: 0.3em 0.5em 0.3em 0.5em;

	border-radius: 0.1em;
}
#nav li:hover a{
	background-color: rgb(255, 102, 0);
	padding: 0.5em;
	border-radius: 2em;
}

.view-app{
	text-align: center;
	margin: 1.2em 0 0.5em 0;

}
.view-resume{
	text-align: center;
	margin: 3em 0 0.5em 0;


}
.view-app a{
	text-decoration: none;
	background-color: rgb(255, 102, 0);
	color: rgb(255,255,255);
	border-radius: 2em;

	padding: 0.6em 1em 0.6em 1em;
}
.view-resume a{
	
	text-decoration: none;
	background-color: rgb(255, 102, 0);
	color: rgb(255,255,255);
	font-size: 1.2em;
	border-radius: 2em;
	padding: 0.6em 1em 0.6em 1em;
}
@media screen and (max-height: 499px){
	.main-page{
		height: 100vh;
		
	} 
	@keyframes showprofile {

		100%{
			
			margin-top: 5em;
			transform: rotate(360deg);
			
		}
	}
}
@media screen and (min-height: 500px) and (max-height: 900px){
	.main-page{
		height: 100vh;
		
	} 
	@keyframes showprofile {

		100%{
			
			margin-top: 9em;
			transform: rotate(360deg);
			
		}
	}
}
@media screen and (min-height: 901px) and (max-height: 1200px){
	.main-page{
		height: 60vh;
		
	} 
	@keyframes showprofile {

		100%{
			
			margin-top: 9em;
			transform: rotate(360deg);
			
		}
	}
}
@media screen and (min-height: 1201px) {
	.main-page{
		height: 50vh;	
	} 
	@keyframes showprofile {

		100%{
			
			margin-top: 20em;
			transform: rotate(360deg);
			
		}
	}
	
}
@media screen and (max-width: 700px) {
	#bars{
		background-color: transparent;
		border: none;
		font-size: 2em;
		color: rgb(255,255,255);
		margin: 0.3em 0.2em 0 0;
		right: 0;
		z-index: 11;
		position: fixed;
		
	}
	.bio{
	
		width: 100%;
		display: flex;
		flex-wrap: wrap;

	}
	.bio .aboutme-dp{
		width: 100%;
		padding: 2em;
		
	
	}
	
	.bio .bios{
		width: 100%;
		padding: 2em;
	
	}
	.category{
		width: 100%;
		
	}
	.flex{
		
		box-sizing: border-box;
		padding: 0 1em 1em 1em;
	}
	.flex-item{
		margin-top: 1em;
		width: 100%;
		
		height: auto;
	}
	.dp{
		width: 120px;
		height: 120px;
		
	}
	.logo{
	
		margin-left: 0;
		
	}
	.name{
		font-size: 2.5em;
	
	}
	#nav{
		
		display: flex;
		flex-direction: column-reverse;
		background-color: rgb(255, 102, 0);
		top: 0;
		position: fixed;
		width: 100%;
	}
	#nav li:last-child{
		margin-top: 1.5em;
	}
	#nav li{
	
		padding: 10px 3px 10px 3px;
	}
	#nav li a{
		margin-left: -2em;	
	}
	.profile{
		width: 90%;
		/* margin-top: 2em; */
		margin-left: 5%;

	}
	.skills-category{
		display: flex;
		flex-wrap: wrap;
		-ms-flex-wrap: nowrap;
		
		
	
	
	}

	#top-nav ul{
		top: -100%;
	}

}
@media screen and (min-width: 701px) and (max-width: 991px) {
	#bars{
		display: none;
	}
	.bio{
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
	}
	.bio .aboutme-dp{
		width: 50%;
		padding: 2em;
	}
	.bio .bios{
		width: 50%;
		padding: 2em;
	}
	.category{
		width: 100%;
	}
	.dp{
		width: 150px;
		height: 150px;
		
	}
	.flex{
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		padding: 0 1em 1em 1em;
	}
	.flex-item{
		margin-top: 1em;
		width: 50%;
		height: auto;
	}
	.name{
		font-size: 2.5em;
	
	}
	#nav{
		display: flex;
		margin-top: 1em;
		flex-direction: row-reverse;
	}
	#nav li{
		padding: 5px 3px 5px 3px;
	}
	.profile{
		width: 90%;
		/* margin-top: 10em; */
		margin-left: 5%;
	}
	.skills-category{
		display: flex;
		flex-wrap: wrap;
		-ms-flex-wrap: nowrap;
	}
}
@media screen and (min-width: 992px) and (max-width: 1399px) {
	#bars{
		display: none;
	}
	.bio{
		width: 70%;
		display: flex;
		flex-wrap: nowrap;
	}
	.bio .aboutme-dp{
		width: 40%;
		padding: 2em;
	}
	.bio .bios{
		width: 60%;
		padding: 2em;
	}
	.category{
		width: 50%;
	}
	.dp{
		width: 100px;
		height: 100px;
	}
	.flex{
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		padding: 0 1em 1em 1em;
	}
	.flex-item{
		margin-top: 1em;
		width: 33.3%;
		
		height: auto;
	}
	.logo{
		
		margin-left: 9em;
		
	}
	.name{
		font-size: 2.5em;
	
	}
	
	#nav{
		display: flex;
		flex-direction: row-reverse;
		margin-top: 1em;
	}
	#nav li{
		padding: 5px 3px 5px 3px;
	}
	.profile{
		width: 90%;
		/* margin-top: 10em; */
		margin-left: 5%;

	}
	.skills-category{
		display: flex;
		flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
	}

}
@media screen and (min-width: 1400px){
	#bars{
		display: none;
	}
	.bio{
	
		width: 70%;
		display: flex;
		flex-wrap: nowrap;

	}
	.bio .aboutme-dp{
		width: 40%;
		padding: 2em;
	}
	
	.bio .bios{
		width: 60%;
		padding: 2em;
	
	}
	.category{
		width: 50%;
		
	}
	.dp{
		width: 100px;
		height: 100px;
		
	}
	.flex{
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		padding: 0 1em 1em 1em;
	}
	.flex-item{
		margin-top: 1em;
		width: 33.3%;
		/* padding: 0 3em 1em 3em; */
		height: auto;
	}
	.logo{
		
		margin-left: 10em;
		
	}
	.name{
		font-size: 2.5em;
	
	}
		
	#nav{
		display: flex;
		margin-top: 1em;
	
		flex-direction: row-reverse;
	}
	#nav li{
		padding: 5px 3px 5px 3px;
	}
	.profile{
		width: 90%;
		/* margin-top: 8em; */
		margin-left: 5%;
	}
	.skills-category{
		display: flex;
		flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
	}

}
